<div id="new-officer" class="ui modal">
    <i class="close icon"></i>

    <div class="header">
        Add New Officer
    </div>
    <div class="content eight wide computer column">
        <form class="ui large form" ng-submit="insertNewOfficer()">
            <div class="ui stacked segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="email" placeholder="Username" ng-model="newOfficer.username">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="Password" ng-model="newOfficer.password">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="password" placeholder="Firstname" ng-model="newOfficer.firstName">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="password" placeholder="Lastname" ng-model="newOfficer.lastName">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="call icon"></i>
                        <input type="number" name="password" placeholder="Mobile Number"
                               ng-model="newOfficer.mobileNumber">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="password" placeholder="Rank" ng-model="newOfficer.rank">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="user icon"></i>
                        <input type="text" name="password" placeholder="Role" ng-model="newOfficer.role">
                    </div>
                </div>
                <button class="ui approve fluid large teal submit button" close-modal type="submit">Sign Up</button>
            </div>
            <div class="ui error message"></div>
        </form>
    </div>
</div>