<div class="ui main text centered grid" style="margin-top: 50px" ng-init="init()">
    <div class="ui two column doubling grid container">
        <div class="row">
            <div class="ui raised segment column">
                <div class="ui icon input">
                    <input type="text" placeholder="Search..." ng-model="keyword">
                    <i class="circular search link icon" ng-click="getAllOfficersByKeyword(keyword)"></i>
                </div>
                <button class="right attached ui button" show-modal>Create Officer</button>
                <div class="ui relaxed divided list">
                    <div></div>
                    <div class="ui modal" drop-down>WEW</div>
                    <div class="item" ng-repeat="user in officers">
                        <i class="large user middle aligned icon"></i>
                        <div class="content" ng-click="getAllOfficersById(user.id)">
                            <a class="header">{{user.firstName}} {{user.lastName}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui raised segment column">
                <div ng-if="userDetails.firstName === undefined">Name</div>
                <div ng-if="userDetails.firstName != undefined"><h3>{{ userDetails.role }} {{ userDetails.firstName }}</h3></div>

            </div>
        </div>
    </div>
</div>
<new-officer></new-officer>