html, body {
	width: 100%;
	height: 100%;
}

.ng-scope {
	width: 100% !important;
}

.main {
	width: 100% !important;
	height: 100%;
	background: #000;
	box-sizing: border-box !important;
}

.container {
	width: 100% !important;
}

.wrap {
	position: relative;
	height: 100%;
	background: #F8F9FB;
}

.content-wrap {
	position: absolute !important;
	width: 95%;
	height: 90%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto !important;
	background: #000;
}

.nav {
	margin: 0 !important;
	background: #FFF !important;
}

.nav .item {
	font-weight: 700 !important;
	padding: 0.5rem 1.5rem !important;
}

.menu {
	border-radius: 0 !important;
}

.ui.menu a.item:hover {
	background: rgba(0, 0, 0, 0.1) !important;
}

.header img {
	height: auto;
	width: 125px !important;
}

.top-row {
	height: 22%;
	background: #FFF;
	padding: 0 !important;
}

.top-row .column {
	padding: 1rem 0;
}

.top-row > .column:first-child {
	background: #A30000;
	color: #FFF;
	font-weight: 700;
}

.menu.left {
	display: block !important;
}

.ui.form .two.wide.field {
	display: table;
	float: right;
}

.top-row .field {
	line-height: 0;
}

.ui.form input[type="text"] {
	font-size: 0.9em;
}

.overview .grid {
	margin-top: 2%;
}

.overview .column {
	cursor: pointer;
	border-radius: 5px;
	-webkit-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}

.field .form-control {
	margin-bottom: 6% !important;
}

.overview .column:hover {
	background: rgba(0,0,0,0.05);
}

.overview .column .label {
	margin-left: 10px;
	background: #A30000;
	color: #FFF;
	font-weight: 700;
}

.body-row {
	padding-top: 0 !important;
	height: calc(100% - 22%);
	background: #FFF;
}

.ui.table, table {
	border-radius: 0 !important;
	border: none !important;
	margin: 0;
}

th {
	border-radius: 0 !important;
	background: #EDF0F5 !important;
}

.ui.table thead th {
	padding: 1em 1.5em;
}

.ui.table tbody td {
	padding: 1em 1.5em;
}

.toggle {
	cursor: pointer;
}

.toggle:hover {
	background: rgba(0,0,0,0.02);
	-webkit-transition: all 200ms;
	-o-transition: all 200ms;
	transition: all 200ms;
}

.sidebar {
	background: #FFF;
}