<div class="ui fixed inverted menu">
    <div class="ui container">
        <div class="header item">
            <img class="logo" style="width: 100px" src="../assets/images/logo.svg">
            IHelp
        </div>
        <a href="#" class="item">Home</a>
        <a href="#" class="ui simple dropdown item">
            Dropdown <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">Link Item</div>
                <div class="item">Link Item</div>
                <div class="divider"></div>
                <div class="header">Header Item</div>
                <div class="item">
                    <i class="dropdown icon"></i>
                    Sub Menu
                    <div class="menu">
                        <div class="item">Link Item</div>
                        <div class="item">Link Item</div>
                    </div>
                </div>
                <div class="item">Link Item</div>
            </div>
        </a>
    </div>
</div>